@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

$font:  'Montserrat', sans-serif;

$black: #3d405b;
$white: #edf2f4;

*
{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.workPage
{
    width: 100%;
    height: calc(100vh - 51px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.workPage.light
{
    background-color: $white;
}

.workPage.dark
{
    background-color: $black;
}

.workLink
{
    font-family: $font;
    font-size: 2em;
    color: $black;
    position: relative;

    &:hover
    {
        color: grey;
    }
}

.workLink.light
{
    color: $white;
}

.workLink::after
{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    bottom: 15px;
    height: 1px;
    background-color: white;
    transform: scale(0);
    transition: all 0.2s ease-in-out;
}

.workLink:hover::after
{
    transform: scale(1);
    background-color: red;
}