$font:  'Montserrat', sans-serif;

$black: #3d405b;
$white: #edf2f4;

*
{
    transition: all 0.2s ease-in-out;
}

.detailPage
{
    width: 100%;
    height: calc(100vh - 51px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detailPage.light
{
    background-color: $white;
}

.detailPage.dark
{
    background-color: $black;
}

.detailTitle
{
    font-family: $font;
    font-size: 2.2em;
    font-weight: 100;
}

.detailTitle.light
{
    color: $white;
}

.detailIntro
{
    font-family: $font;
    font-size: 1.7em;
    font-weight: 100;
}

.detailIntro.light
{
    color: $white;
}

.detailParagraph
{
    font-family: $font;
    font-size: 1.2em;
    width: 700px;
    text-align: center;
}

.detailParagraph.light
{
    color: $white;
}

.visitBtn
{
    width: 150px;
    height: 40px;
    font-family: $font;
    font-size: 1.2em;
    border: none;
    background-color: $black;
    border-radius: 10px 0px 10px 0px;
    color: $white;
    margin-top: 25px;
    cursor: pointer;

    &:hover
    {
        border-radius: 0px 10px 0px 10px;
    }
}

.visitBtn.light
{
    background-color: $white;
    color: black;
}

.extLink.light
{
    color:$black;
}

.extLink.dark
{
    color: $white;
}